.cta-wrapper {
  width: 100%;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at center, #071e4c 0%, #020b1f 70%);
  position: relative;
  overflow: hidden;
}

/* Curved blue glow sides */
.cta-wrapper::before,
.cta-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  border: 10px solid rgba(32, 17, 241, 0.4);
  border-radius: 50%;

  /* filter: blur(2px); */
}

.cta-wrapper::before {
  left: 25rem;
  border-right: none;
  border-bottom: none;
  border-top: none;
}

.cta-wrapper::after {
  right: 25rem;
  border-left: none;
  border-bottom: none;
  border-top: none;
  /* border-right: none; */
}

.cta-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  gap: 100px;
}

.content {
  width: 804px;
  height: 172px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.content h2 {
  width: 671px;
  height: 126px;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 12px;
}

.cta-content p {
  width: 805px;
  height: 26px;
  font-size: 15px;
  opacity: 0.8;
  margin-bottom: 28px;
}

.cta-btn {
  background: #2563eb;
  padding: 12px 26px;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.25s;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.cta-btn:hover {
  background: #1d4ed8;
  transform: translateY(-2px);
}
