.product-wrapper {
  width: 1240px;
  height: 654px;
  margin: 0 auto;
  padding: 80px 0;
  text-align: center;
}

.section-title {
  font-size: 40px;
  font-weight: 600;
  color: #1a1a1a;
  margin-bottom: 35px;
}

.section-title span {
  position: relative;
  font-weight: 700;
}

.section-title span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 4px;
  background: #3b82f6;
  border-radius: 4px;
}

.product-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1240px;
  height: 542px;
  gap: 94px;
  padding: 30px;
  background: #fff;
  border: 1px solid #e5e5e5;
}

.product-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 543px;
  height: 416px;
  flex: 1;
  text-align: left;
}

.product-text h3 {
  width: 543px;
  height: 96px;
  font-size: 40px;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 30px;
}

.product-text description {
  width: 543px;
  height: 88px;
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

/* s .product-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 15px;
    } */

.product-description {
  font-size: 15px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 25px;
}

.tag-container span {
  border: 1px solid #cfd4da;
  padding: 6px 12px;
  /* border-radius: 4px; */
  /* background: #f9f9f9; */
}

.explore-btn {
  background-color: #3b82f6;
  color: white;
  padding: 10px 18px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}
.explore-btn:hover {
  background: #fff;
  color: #006aff;
  box-shadow: 4px 4px 0 #006aff;
  transform: translate(-3px, -3px);
}

/* IMAGE BOX (Gradient background + heading inside) */
.product-image-box {
  width: 543px;
  height: 482px;
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* responsive */
@media (max-width: 850px) {
  .product-card {
    flex-direction: column;
    gap: 20px;
  }

  .product-text {
    max-width: 100%;
    text-align: center;
  }
}
