.caseImages-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  /* width: 1240px; */
  /* max-width: 1240px; */
  height: 500px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.caseImages-wrapper img {
  width: 605px;
  height: 500px;
  object-fit: cover;
  /* border-radius: 8px; */
  border: 1px solid #e5e7eb;
}

/* Responsive */
@media (max-width: 900px) {
  .caseImages-wrapper {
    flex-direction: column;
    height: auto;
  }

  .caseImages-wrapper img {
    width: 100%;
    height: auto;
  }
}
